{% if count > 0 %}
    <h2>Корзина</h2><hr>
    {% for item in products %}
        <div id="item_{{ item.cart_id }}">
            <h2>{{ item.title }}</h2>
            <p>Описание: {{ item.description }}</p>
            <p>Цена: {{ item.price }}</p>
            <input data-id="{{ item.cart_id }}" class="itemCount" type="number" value="{{ item.count }}">
            <button data-id="{{ item.cart_id }}" class="delete">Удалить</button>
        </div>
    {% endfor %}
    <hr>

    <input id="showAddOrder" type="button" value="Оформить заказ">
    <p id="addOrder"></p>

{% else %}
    <h2>Корзина пуста</h2><hr>
{% endif %}


<script>


    let showAddOrderFlag = false;
    let showAddOrder = document.getElementById('showAddOrder')
    showAddOrder.addEventListener('click', () => {
        if (showAddOrderFlag === false) {
            document.getElementById('addOrder').innerHTML =
                '<b>Оформление заказа:</b>\n' +
                '\n' +
                '        <form action="/order/add" method="post">\n' +
                '            <input type="text" name="name" placeholder="Имя"><br>\n' +
                '            <input type="text" name="phone" placeholder="Телефон"><br>\n' +
                '            <input type="hidden" name="id" value="{{ session_id }}">\n' +
                '            <input type="submit" name="addOrder" value="Отправить">\n' +
                '        </form>';
            showAddOrder.setAttribute('value', 'Оформить позже');
            showAddOrderFlag = true;
        } else {
            showAddOrder.setAttribute('value', 'Оформить заказ');
            document.getElementById('addOrder').innerHTML = '';
            showAddOrderFlag = false;
        }
    })
</script>